@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(209, 209, 209);
    background-image: url(imagem/pexels-chaitaasticblur-2083840.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    height: 150px;
    background-image: linear-gradient(to top, rgb(15, 1, 53), rgb(37, 27, 66));
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
    margin-bottom: 15px;
    box-shadow: 2px 5px 5px rgb(37, 27, 66);
    border-radius: 0px 0px 5px 5px;
    white-space: nowrap;
    overflow: hidden;
    }
h1{
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    white-space: nowrap;       
}
nav{
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;   
    }
li.navli{
    list-style: none;
    display: inline-block;
    color: white;
    font-size: 0.9em;
    padding: 5px;
    white-space: nowrap;   
}
li.navli:hover{
    color: rgb(73, 201, 194);
}
a{
    text-decoration: none;
    color: black;
}
button{
    font-size: 0.7em;
    border-radius: 30px;
    padding: 10px;
    color: rgb(10, 0, 36);    
}
button:hover{
    box-shadow: 3px 3px 10px rgb(138, 138, 138) inset;
    color: white;
    transform: scale(1.1);
    transition: 0.4s;    
}
#homeicon{
    font-size: 1.3em;
    color: white;
    cursor: pointer;
    vertical-align: middle;
    padding-bottom: 10px;
}

h2{
    display: inline-block;
    font-size: 1.3em;
    margin-top: -5px;
}

main{
    margin: auto;
    margin-top: 120px;
    height: 240px;
    width: 330px;
    background-color: rgba(255, 255, 255, 0.555);
    border: 1px solid darkslategray;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 1px 1px 3px darkcyan; 
    backdrop-filter: blur(50px);   
}
h4{
    padding-bottom: 15px;
}
#imail{
    padding: 3px;
    margin-bottom: 5px;
}
#isenha{
    padding: 3px;
    }
#submit{
    margin-left: 120px;
    padding: 5px;
    cursor: pointer;    
    margin-top: 10px;
}
#forgot{
    border: 1px solid darkslategray;
    border-radius: 5px;
    width: 140px;
    padding: 5px;
    display: inline-block;
    font-size: 0.8em;
    text-align: center;
    position: relative;
    top: 15px;    
}
#register{
    border: 1px solid darkslategray;
    border-radius: 20px;
    width: 130px;
    padding: 5px;
    display: inline-block;
    margin-left: 15px;
    text-align: center;
    background-color: rgb(15, 1, 53);
    position: relative;
    top: 15px;    
    font-size: 1em;
    }
h3>a{
    color: white;
    }
#forgot:hover{
    box-shadow: 2px 2px 5px rgb(129, 115, 182) inset;    
}
#register:hover{
    background-color: rgb(45, 38, 71);
}
form>input:focus-within{
    background-color: rgba(130, 115, 182, 0.37);
}
.material-symbols-outlined{
    line-height: 1;
    vertical-align: text-bottom;
    margin-top: 7px; 
    padding: -2px; 
}
label{
    font-size: 0.9em;
}
