@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html,body{
    height: 100vh;
    width: 100vw;
}
body{
   background-image: linear-gradient(to bottom right, #69B0E5, #759DBB, #738491, #565F66);
       
}
header{
    background-color: #1A2833 ;
    height: 150px;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 2.6em;
    color: #759DBB;
    box-shadow: 5px 5px 5px #28333C;
    width: 100vw;
}
header>h1{
    text-shadow: 1px 1px 2px black;
    padding-right: 20px;
}
header > h1 > img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
   }
menu{
    height: 25px;
    width: 70px;
    margin: 10px;
    padding: 26px;
    background-color: lightgrey;
    border: 1px solid #28333C ;
    border-radius: 20px;
    color: #28333C;
    transition: all 200ms;
    
}
menu:hover{
    box-shadow: inset 2px 2px 2px 2px #28333C ;
    transform: scale(1.05);
}
menu>p{
    display: none;
}
menu:hover>p{
    display: block;
}
nav{
    display: flex;
    flex-direction: row;
    width: fit-content;
}
menu>p{
    margin-top: 25px;
    padding: 10px;
    background-color: #565f6686;
    width: 90px;
    border-radius: 10px;
    margin-left: -20px;
    color: black;
}
a{
    text-decoration: none;
    color: #1A2833;
    font-size: 1em;
}
a:hover{
    font-weight: bolder;
    color: rgb(0, 47, 255);
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1A2833;
    height: 40px;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
}
audio{
    height: 30px;
    position: fixed;
    right: 0;
    padding-right: 20px;
    }

form{
    display: inline-block;
    position: absolute;
    left: 80%;
    margin-top: 10px;
    background-color: #759DBB;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    width: fit-content;
    color: #1A2833 ;
    font-weight: bold;
}
#enterbutton{
    padding: 5px;
    margin-left: 65%;
}

section{   
    margin-top: 300px;
    margin-right: 20px;
    margin-left: 1500px;
    background-color: lightgrey;
    border: 1px solid #1A2833;
    border-radius: 10px;
    width: 400px;
    height: 300px;
}

section>iframe{
    margin: auto;
    padding: 20px;
}

@media screen and (max-width: 1500px) {
    header,body,footer{
        display: block;
        height: fit-content;
        width: fit-content;
    }
    nav{
       text-align: center;
       width: fit-content;
    }
    audio{
        position: relative;
        display: block;
        margin-left: 35%;
    }
}

