@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    background-image: url(Imagens/pexels-kseniya-lapteva-93670191-9175713.jpg);
    background-color: rgb(236, 236, 236);    
    background-attachment: fixed;
    background-size: cover;
}

main{
    height: 100vh;
    width: 100vw;    
    display: flex;
    justify-content: center;
    align-items: center;    
}

div#clip{
    position: absolute;
    left: 50%;
    top: 5%;
    width: 120px;
    height: 100px;
    background-color: rgba(156, 59, 3, 0.89);
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(30% at 0 0);
    transform: translate(-50%);
    transition: all 1.2s ease;
    }

div#clip:hover{
    clip-path: circle(40%);   
    transform: rotate3d(20deg); 
    
}

section#cards{
    display: flex;
    margin: auto;
    border: 1px solid black;
    height: 600px;
    width: 400px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 30px;
    scroll-snap-type: x mandatory;

}
div#clip>p{
    font-family: "Merienda", cursive;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(236, 236, 236);
    padding-left: 5px;
}
span.material-symbols-outlined{
    font-size: larger;
    color: rgb(236, 236, 236);
    line-height: 1;    
}

.card{
    box-sizing: border-box;    
    scroll-snap-align: center;
    height: 570px;
    width: 400px;
    text-align: center;
    flex-shrink: 0;
    border-radius: 10px;
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.452);
}
h2{
    font-family: "Merienda", cursive;
    color: black;
    margin-bottom: 40px;
}
.card>p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  